.background {
  z-index: 0;
  width: 100vh;
  height: 100vh;
}
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  z-index: 1;
  margin-top: 6%;
}
.container {
  position: relative;
  width: 100%;
  height: auto;
}

.background,
.flex-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Cover the entire container */
  height: auto;
}
.iamyethishwar {
  height: 50%;
  width: 55%;
  margin-left: 35px;
}
.photo {
  justify-content: end;
  margin-left: 20%;
  margin-top: 5%;
  height: 50%;
  width: 15%;
}

p {
  color: rgb(252, 253, 254);
  font-size: 1.2vw;
  font-family: "Roboto", sans-serif;
}
.paragraph-container {
  position: relative;
  display: flex;
  gap: 7%;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-top: 0.5%;
  background-color: rgb(39, 38, 38);
  border-radius: 10px;
}

a {
  color: #333; /* Default text color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth transition for color change */
}
